$discover-color: color(primary, base);

.discover {

  &-subtitle {
    @include section-title;
  }

  &-items {
    @include flex-grid-row;
  }

  &-main {
    order: 1;
    @include flex-grid-column(12);

    &-callout {
      @include callout-base;
      @include callout-style($discover-color);
    }
  }

  &-item {
    order: 2;

    @include flex-grid-column(12);
    @include breakpoint(large) {
      @include flex-grid-size(4);
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      order: 0;
    }

    &-title {
      color: color(grey, medium);
      font-size: rem-calc(20);
      font-weight: bold;
    }

    &-thumbnail {
      @include thumbnail;
    }
  }
}