.gallery--filters {
  margin: $global-padding 0;
}

.gallery--filter {
  font-size: .8rem;
  @include button(false, $body-font-color, darken($body-font-color, 10%), $white, hollow);

  &.is-checked {
    font-size: .8rem;
    @include button(false, $primary-color, $primary-color, $white, solid);
  }
}

.gallery--items {
  margin: 1rem -.5rem;
}

.gallery--item, .grid-sizer {
  width: grid-column(4);
}
.gallery--item {
  padding: .5rem;
}

.gallery--item--wrapper {
  cursor: pointer;
  position: relative;
  width: 100%;
}

.gallery--item--thumb {
  width: 100%;
}

.gallery--item--overlay {
  background: rgba(0,0,0,0.8);
  color: $white;
  cursor: pointer;
  height: calc(100% - 1rem);
  left: .5rem;
  opacity: 0;
  position: absolute;
  top: .5rem;
  transition: opacity 300ms ease;
  width: calc(100% - 1rem);
  visibilty: hidden;

  &--title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &--icon {
    font-size: rem-calc(30);
  }
}
.gallery--item--overlay--container {
  padding: 1rem;
  width: 100%;
  @include absolute-center;
}
.gallery--item--wrapper:hover, .gallery--item--wrapper:focus {

  .gallery--item--overlay {
    opacity: 1;
    visibility: visible;
  }
}

.gallery--terms {
  @extend .no-bullet;
}
.gallery--term {
  color: $primary-color;
  display: inline-block;
}

.gallery--item--caption {
  @include element-invisible;
}