$tutoriel-color: color(primary, dark);

.tutoriel {

  &-section {
    @include section-base
    @include section-alternate;;
    &-title {
      @include grid-column-row;
      @include section-title;
    }
  }

  &-items {
    @include flex-grid-row;
  }

  &-item {

    @include flex-grid-column(12);
    @include breakpoint(large) {
      @include flex-grid-size(4);
    }

    &-title {
      color: color(grey, medium);
      font-size: rem-calc(20);
      font-weight: bold;
    }

    &-thumbnail {
      @include thumbnail;
    }
  }

  &-article {
    margin-bottom: $global-padding;
  }

  &-link {
    color: color(text);
  }
}