@import "~owl.carousel/src/scss/core";
@import '~owl.carousel/src/scss/animate';
@import '~owl.carousel/src/scss/autoheight';
@import '~owl.carousel/src/scss/lazyload';

/*
 *  Default theme - Owl Carousel CSS File
 */

$color-base:      color(primary, base);
$color-white:     color(white);
$color-gray:     color(grey, base);

//nav

$nav-color:       $color-white;
$nav-color-hover:   $color-white;
$nav-font-size:     14px;
$nav-rounded:       3px;
$nav-margin:      5px;
$nav-padding:       4px 7px;
$nav-background:    $color-gray;
$nav-background-hover:  $color-base;
$nav-disabled-opacity:  0.5;

//dots

$dot-size:       rem-calc(12);
$dot-rounded:     50%;
$dot-margin:      $global-padding / 4;
$dot-background:    color(grey, base);
$dot-background-active: color(primary, base);

.owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    .owl-dot {
      display: inline-block;
      zoom: 1;

      span {
        width: $dot-size;
        height: $dot-size;
        margin: $dot-margin;
        background: $dot-background;
        display: block;
        transition: all $global-transition;
        border-radius: $dot-rounded;
        border: 1px solid color(white);
      }

      &.active,
      &:hover {
        span {
          background: $dot-background-active;
        }
      }
    }
  }