.blog {
  .hentry {
    @include card-container;
  }

  .entry-wrapper {
    @include card-section;
  }
}

.single {
  .hentry {
    // max-width: rem-calc(700);
  }
}

.entry {
  &-title {
    font-size: rem-calc(28);
  }
  &-header {
    margin-bottom: $global-padding;
  }
  &-thumbnail {
    @include thumbnail;

    .excerpt & {
      float: right;
      margin: 0 0 $global-padding $global-padding;
    }
  }
}

.form-submit {
  input[type="submit"] {
    @include button;
  }
}
